InlayHints:
  Designators: No
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: No
  
Diagnostics:
  UnusedIncludes: Strict

CompileFlags:
  Add: [
    -std=c++17,
    -I../opencv-4.13.0/build/install/include,
    -I../build/_deps/sfml-src/include,
    -I../build/_deps/torch-src/include,
    -I../build/_deps/torch-src/include/torch/csrc/api/include,
    -I/usr/include/opencv4,
    -I/usr/local/include/torch/csrc/api/include]
  Compiler: clang++